.container{
    width: 1200px;
    margin: auto;
}

h2{
    font-size: 50px !important;
}

p{
    letter-spacing: 2px;
    line-height: 1.75 !important;
    margin: 0;
}
span{
    line-height: 1.75 !important;
}


.section-1,
.section-2,
.section-3{
    width: 100%;
    padding: 100px 0;
    background-color:#111;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    .title{
        margin-left: 100px;
        margin-bottom: 50px;
    }
    span{
        padding-bottom: 20px;
    }
    p{
        margin-left: 100px;
    }
    @media only screen and ( max-width:767px ){
        .title{
            margin-left: 30px;
            margin-bottom: 50px;
        }
        p{
            margin-left: 30px;
        }
        span{
            padding-bottom: 0px;
        }
    }
}

.tag{
    margin-top: 20px;
    & span{
        padding: 2px 20px;
        border: 1px solid #fff;
        margin-right: 20px;
    }
}

@media only screen and ( max-width:767px ){
    .container{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
}

@import "animation";